@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Inspiration&family=Lobster&family=Roboto+Slab:wght@300&family=Rubik:ital,wght@0,500;1,300&display=swap');

*{
font-family: 'Dancing Script', cursive;
margin: 0; padding: 0;
box-sizing: border-box;
text-decoration: none;
outline: none; border: none;
text-transform: capitalize;
}